.table-header {
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-end;
}

.filtered {
  color: #1890ff;
}

.modal-loading {
  text-align: center;
  border-radius: 4px;
  padding: 30px 50px;
}
